body {
  width: 100%;
  background-color: lightblue;
}

.traffic-light {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  width: 180px;
  height: 450px;
  background-color: rgb(253, 237, 5);
  border-radius: 10px;
  border: 3px solid;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stick {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(253, 237, 5);
  border: 3px solid;
  width: 60px;
  height: 180px;
}

.light {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 25px;
  cursor: pointer;
}

.red {
  background-color: red;
}

.active-red {
    box-shadow: 0 0 10px 15px rgba(255, 0, 0, 0.445);
}

.yellow{
  background-color: rgb(252, 194, 5);
}

.active-yellow {
    box-shadow: 0 0 10px 15px rgba(252, 194, 5, 0.514);
}

.green {
  background-color: green;
}

.active-green {
    box-shadow: 0 0 10px 15px rgba(0, 128, 0, 0.418);
}

.pressButton {
  width: 30px;
  height: 30px;
  border-radius: 40%;
  background-color: lightgray;
}
